<div class="flex justify-center">
  <div class="w-full max-w-xs">
    <h1 class="px-8">Sign Up</h1>

    <%= render 'form' %>

    <div class="text-center">
      Existing user?
      <%= link_to "Log In", new_session_path, class: 'font-bold text-green-700 hover:text-green-500' %>
    </div>

  </div>
</div>
